*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilos relacionados con la cabezera de la página */
.header{
    border-bottom: 1px solid black;
    height: 5vw;
    background-color: rgb(53, 0, 139);
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos relacionados con el contenido de la página */
.contenido-pagina{
    margin: 0 auto  ;
    width: 80%;

}
/* Estilos relacionados con el texto de la página */
.explicacion{
    height: auto;
    margin: 0 auto;
}
.explicacion-text{
    font-size: 1.2vw;
    padding: 15px;
    text-align: justify;
}
.contenido{
    list-style: none;
}

/* Sección 1 */

#titulo-seccion{
    width: 100%;
    height: 2vw;
    background-color: rgb(102, 102, 102);
    color: white;
    font-size: 1vw;
    border-radius: 25px;

}
#titulo-seccion:hover{
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}
#contenido-seccion{
    height: auto;
}   
.seccionAprendizaje{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.titulo-aprendizaje{
    font-size: 1.5vw;
    margin: 15px;
}
.introduccion-text{
    font-size: 1vw;
}
.pregunta{
    font-size: 1.2vw;
    margin: 15px;
}
.texto-pregunta{
    font-size: 1vw;
    
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-form{
    margin: 7px;
    width: 20vw;
}
   
/* Sección 2 */

#titulo-seccion2{
    width: 100%;
    height: 2vw;
    background-color: rgb(102, 102, 102);
    color: white;
    font-size: 1vw;
    border-radius: 25px;
}
#titulo-seccion2:hover{
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}
#contenido-seccion2{
    height: auto;

}

/* Sección 3 */

#titulo-seccion3{
    width: 100%;
    height: 2vw;
    background-color: rgb(102, 102, 102);
    color: white;
    font-size: 1vw;
    border-radius: 25px;
}
#titulo-seccion3:hover{
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}
#contenido-seccion3{
    height: auto;

}

/* Sección 4 */

#titulo-seccion4{
    width: 100%;
    height: 2vw;
    background-color: rgb(102, 102, 102);
    color: white;
    font-size: 1vw;
    border-radius: 25px;
}
#titulo-seccion4:hover{
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}
#contenido-seccion4{
    height: auto;

}

/* Clases Javascript */

.visible{
    transition: 1s ease;
    display: block;
}
.novisible{
    transition: 1s ease;
    display: none;
}
